body {
    margin: 0;
    font-family: sans-serif;
} 

.foodItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.food-img {
    width: 50px;
    margin-right: 10px;
}

.food-info {
    flex: 1;
}

.add-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}